src/main/resources/services.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dreampig.com.cn" targetNamespace="http://www.dreampig.com.cn" elementFormDefault="qualified">
    <!-- 获取 token -->
    <xs:element name="getToken">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="sid" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>